:root {
  /* COLORS */
  --clr-neutral-900: #f9faf8;
  --clr-neutral-600: #e5e7eb;
  --clr-neutral-100: #1f2937;
  --clr-primary-blue: #3882f6;

  /* FONT WEIGHTS */
  --fw-bold: 900;

  /* FONT SIZES */
  --fs-xxxlarge: 48px;
  --fs-xxlarge: 36px;
  --fs-xlarge: 24px;
  --fs-large: 18px;
  /* --fs-normal: 16px; */
}

/* GLOBAL ------------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--clr-neutral-600);
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.5rem 2rem;
  background-color: var(--clr-primary-blue);
  color: var(--clr-neutral-900);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
  max-width: 100%;
}

/* HEADER ------------------------------------------ */

header {
  background-color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  padding-block: 1rem;
}

header > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav > ul > li > a {
  font-size: var(--fs-large);
}

h3 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-xlarge);
}

/* HERO ------------------------------------------ */

main {
  background-color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  padding-block: 6rem;
}

main > .container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  & > * {
    flex: 1;
  }
}

.hero__info {
  & p {
    font-size: var(--fs-large);
  }
}

.hero__image-container {
  background-color: #6e747c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-large);
  min-width: min(100%, 520px);
}

.hero__image-container > img {
  aspect-ratio: 2.21 / 1;
  object-fit: cover;
  z-index: 1;
}

.hero__image-container > p {
  position: absolute;
}

h1 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-xxxlarge);
  font-weight: var(--fw-bold);
}

main button {
  margin-block: 1rem;
}

/* INFO ------------------------------------------ */

.info {
  display: flex;
  justify-content: center;
  padding-block-end: 8rem;
}

.info > .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-xxlarge);
  margin-block: 2rem;
  font-weight: var(--fw-bold);
}

.info__image-row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.info__image-container {
  max-width: 10.5rem;
  color: var(--clr-neutral-100);
  font-size: var(--fs-large);
}

.info__image-container > img {
  aspect-ratio: 1;
  object-fit: cover;
  border: 4px solid var(--clr-primary-blue);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

/* QUOTE ------------------------------------------ */

.quote {
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-100);
  display: flex;
  justify-content: center;
  padding-block: 8rem;
}

.quote > .container {
  max-width: 800px;
}

.quote em {
  font-size: var(--fs-xxlarge);
  display: block;
  margin-block-end: 1rem;
}

.quote b {
  font-size: var(--fs-xlarge);
  display: block;
  text-align: right;
}

/* UTILITY ------------------------------------------ */

.container {
  max-width: 1024px;
  margin-inline: 2rem;
}
